<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaseTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ModelViewProjection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Move.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Orthographic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Perspective.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB16A5311D338B30009710F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB16A53F1D338BEC009710F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB16A57C1D377090009710F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB16A58C1D3774BD009710F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB16A59C1D377573009710F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
