<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blending.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GeoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OGL_03_BaseRender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Primitives.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Scissor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Smoother.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB16A4EB1D2E2E9C009710F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB16A4FC1D2E41FE009710F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB16A50C1D2E45E7009710F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB16A51C1D2F8051009710F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBFD1EF31D24FF4600E89BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBFD1F011D24FFAD00E89BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBFD1F281D25065000E89BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
